<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <center>
    <h1>Welcome to the Word Game!</h1>
    <a href="{% url 'play_game' %}">Start Game</a>
    </center>
</body>
</html>
