<!DOCTYPE html>
<html>
<head>
    <title>playgame</title>
</head>
<body>
  <center>
    <h2>Word Play Game</h2>
    <form action="{% url 'check_answer' %}" method="post">
      {% csrf_token %}
      <label for="num_letters">Enter the number:</label>
      <br>
      <br>
      <input type="text" name="num_letters" required>
      <br>
      <br>

      <label for="starting_letter">Enter the starting letter:</label>
      <br>
      <br>
      <input type="text" name="starting_letter" maxlength="1" required>
      <br>
      <br>

      <label for="ignore_letter">Enter the letter to ignore:</label>
      <br>
      <br>
      <input type="text" name="ignore_letter" maxlength="1">
      <br>
      <br>

      <button type="submit">Generate Word</button>
  </form>
  </center>
</html>
</body>