<!-- quiz/quiz.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <p>{{ question }}</p>
    <form method="post" action="{% url 'check_answer_view' %}">
        {% csrf_token %}
        <input type="hidden" name="question" value="{{question}}">
        <input type="text" name="answer">
        <button type="submit">Submit</button>
    </form>
</body>
</html>