<!-- quiz/result.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Quiz Result</title>
</head>
<body>
    <h1>Quiz Result</h1>
    <p>{{ result }}</p>
    <p> Your Answer: {{user_ans}}</p>
    <p> Your Answer: {{correct}}</p>
    <a href="{% url 'quiz' %}">Play Again</a>
</body>
</html>