<!DOCTYPE html>
<html>
    <body>
        <h1>Employe Intake Form</h1>
        <form method="POST" action="{% url 'add_employe' %}">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="employe_id">Employe Id</label>
            <input type="text" id="employe_id" name="employe_id">
            <label for="salary">salary</label>
            <input type="text" id="salary" name="salary">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>