<!DOCTYPE html>
<html>
    <body>
        <h1>{{attend.employe.name}}</h1>
        <form action="{% url 'edit_attendance' attend.employe.id attend.id %}" method="POST">
            {% csrf_token %}
            <label for="date">Date</label>
            <input type="text" id="date" name="date" value="{{attend.e_date}}">
            <label for="attendance">Attendance</label>
            <input type="attendance" id="attendance" name="attendance" value="{{attend.e_attendance}}">
            <input type="submit" name="edit" value="EDIT">
            <input type="submit" name="delete" value="DELETE">
        </form>
    </body>
</html>