<!DOCTYPE html>
<html>
    <body>
        <h1>Employe Details</h1>
        {% if editing %}
        <form method="post" action="{% url 'update_employe' employe.id %}">
            {% csrf_token %}
            <p>
                <label for="salary">Salary:</label>
                <input type="text" id="salary" name="salary" value="{{employe.salary}}">
            </p>
            <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{employe.name}}">
            </p>
            <p>
                <label for="employe_id">Employe Id:</label>
                <input type="text" id="employe_id" name="employe_id" value="{{employe.employe_id}}">
            </p>
            <p>
                <input type="submit" value="EDIT">
            </p>
        </form>
        {% else %}
        <p>Salary: {{employe.salary}}</p>
        <p>Name: {{employe.name}}</p>
        <p>Employe Id: {{employe.employe_id}} </p>
        <table style="border: 1px solid black">
            <tr style="border: 1px solid black">
                <th style="border: 1px solid black">Date</th>
                <th style="border: 1px solid black">Attendance</th>
            </tr>
            {% for mark in marks %}
            <tr style="border: 1px solid black">
                <td style="border: 1px solid black">{{attend.e_date}}</td>
                <td style="border: 1px solid black">{{attend.e_attendance}}</td>
                <td style="border: 1px solid black">
                    <a href="{% url 'edit_attendance' employe.id attend.id %}">EDIT</a>
                </td>
            </tr>
            {% endfor %}
            <form method="post" action="{% url 'add_attendance' employe.id %}">
                {% csrf_token %}
                <tr style="border: 1px solid black">
                    <td style="border: 1px solid black">
                        <input type="text" name="date">    
                    </td>
                    <td style="border: 1px solid black">
                        <input type="text" name="attendance">    
                    </td>
                    <td>
                        <input type="submit" value="ADD">
                    </td>
                </tr>
            </form>
        </table>

        <p><a href="{% url 'update_employe' employe.id %}">EDIT</p>
        <p><a href="{% url 'delete_employe' employe.id %}">DELETE(cannot be undone)</a></p>
        {% endif %}
        <p><a href="{% url 'employe_list' %}">All Employes</a></p>
    </body>
</html>