<!DOCTYPE html>
<html>
    <body>
        <h1>Employee List</h1>
        <ul>
        {% for employe in employee %}
            <li><a href="{% url 'employe_detail' employe.id %}">{{employe}}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'add_employe' %}">ADD EMPLOYE</a>
    </body>
</html>
